@charset "utf-8";

.l-label {
	width: 100%;
	height: 300px;
	background-image: url('../img/common/breadcrumb_bg.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;

	&__inner {
		max-width: 1000px;
		margin: 0 auto;
		padding: 100px 30px;

		.label-title {
			font-size: 40px;
			line-height: 1.2;
			color: #0a472e;
			padding-bottom: 30px;
		}

		ul {
			display: flex;
			flex-direction: row;

			li {
				padding-right: 20px;
				position: relative;
				display: inline-flex;
				align-items: center;

				&:after {
					content: '';
					position: absolute;
					background: url('../img/common/icon_right.png');
					background-size: 100% 100%;
					background-repeat: no-repeat;
					width: 10px;
					height: 10px;
					right: 5px;
				}

				&:last-child {
					padding-right: 0;

					&:after {
						display: none;
					}
				}

				.label-link {
					font-size: 18px;
					line-height: 1.2;
					color: #000;

					&.active {
						color: #5c5c5c;
						cursor: default;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.l-label {
		height: 280px;

		&__inner {
			padding: 90px 30px;

			.label-title {
				font-size: 30px;
			}

			ul {
				li {
					padding-right: 15px;

					.label-link {
						font-size: 14px;
					}
				}
			}
		}
	}
}
