@charset "utf-8";

/* footer */
$footerBgColor: #000;
$footerTxtColor: #fff;

.footer {
	width: 100%;
	box-sizing: border-box;
	position: fixed;
	bottom: 0;
	z-index: 1;
	padding: 20px 10px;
	background-color: $footerBgColor;

	address {
		font-size: 12px;
		font-weight: 400;
		font-style: normal;
		line-height: 1.3;
		text-align: center;
		color: $footerTxtColor;
	}
}
