/* ==========================================================================
  Foundation
========================================================================== */
/* web fonts */
@import url("https://fonts.googleapis.com/css2?family=Kreon:wght@300;400;500;600;700&display=swap");
html,
body,
* {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -webkit-text-rendering: geometricprecision;
  -moz-text-rendering: geometricprecision;
  -ms-text-rendering: geometricprecision;
  -o-text-rendering: geometricprecision;
  -moz-osx-font-smoothing: grayscale;
}

a[href^=tel] {
  color: inherit;
  text-decoration: none;
}

.clearfix:after,
.u-clearfix:after {
  height: 0;
  visibility: hidden;
  content: ".";
  display: block;
  clear: both;
}

.u-body-mask {
  overflow: hidden;
}

/* bool class
------------------------- */
.is-show {
  display: block !important;
}

.is-hide {
  display: none !important;
}

.is-transparency {
  opacity: 0;
}

.is-translate3d {
  transform: translate3d(0, 0, 0);
}

.is-translatenone {
  transform: none;
  animation-name: none;
  animation-duration: 0;
  animation-iteration-count: 0;
}

.is-3d {
  transform-style: preserve-3d;
}

html,
body {
  font-family: Kreon, serif;
  font-display: swap;
}

/* IE11 */
@media all and (-ms-high-contrast: none) {
  *::-ms-backdrop,
  html,
  body {
    font-family: Kreon, serif;
    font-display: swap;
  }
}
a img {
  border-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

* {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

body {
  text-align: left;
  line-height: 1.5;
}

html {
  position: relative;
}

html,
body {
  height: 100%;
  background-color: #fff;
}

/* ==========================================================================
  Layout
========================================================================== */
#bst-wrap {
  position: relative;
  background-color: #fff;
}

/* footer bottom fix
------------------------ */
body {
  height: 100%;
}

#bst-wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.l-project-wrap {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

@media all and (-ms-high-contrast: none) {
  *::-ms-backdrop,
  #bst-wrap {
    display: block;
  }
  /* IE11 */
}
body.and #wrap {
  display: block;
}

.l-wrap__outer {
  padding: 0 80px;
}
.l-wrap__inner {
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
}

@media screen and (max-width: 1024px) {
  .l-wrap__outer {
    padding: 0 60px;
  }
}
@media screen and (max-width: 800px) {
  .l-wrap__outer {
    padding: 0 40px;
  }
}
@media screen and (max-width: 400px) {
  .l-wrap__outer {
    padding: 0 20px;
  }
}
.p-bloc--login {
  padding-bottom: 80px;
}

/* header */
.header {
  position: relative;
  background-color: #0a472e;
  z-index: 999;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}
.header__inner .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__inner .logo .logo-link {
  display: block;
  background: url("../img/header/logo.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  margin-left: 10px;
}
.header__inner .logo .logo-link:hover {
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}
.header__inner .logo .logo-link--02 {
  display: block;
  background: url("../img/header/logo_bw.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 128px;
  height: 38px;
}
.header__inner .nav-menu {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__inner .nav-menu__list {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 15px;
}
.header__inner .nav-menu__list li {
  width: 16%;
  padding-right: 10px;
  text-align: center;
  height: 80px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.header__inner .nav-menu__list li:last-child {
  padding-right: 0;
}
.header__inner .nav-menu__list li.sub {
  position: relative;
}
.header__inner .nav-menu__list li.sub:after {
  content: "";
  position: absolute;
  background: url("../img/header/icon_down_w.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  right: 10%;
  top: 40%;
}
.header__inner .nav-menu__list li .nav-link {
  font-size: 18px;
  line-height: 1.3;
  color: #fff;
  position: relative;
}
.header__inner .nav-menu__list li .nav-link:hover {
  color: #80891b;
}
.header__inner .nav-menu__list li .menu-pulldown {
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  min-width: 120px;
  padding: 12px 5px;
  z-index: 1;
  top: 100%;
  opacity: 0;
  visibility: hidden;
}
.header__inner .nav-menu__list li .menu-pulldown li {
  width: 100%;
  text-align: left;
  height: 25px;
}
.header__inner .nav-menu__list li .menu-pulldown li .sub-link {
  color: #0a472e;
}
.header__inner .nav-menu__list li .menu-pulldown li:hover .sub-link {
  color: #80891b;
  transition: all 0.3s ease;
}
.header__inner .nav-menu__list > li:hover.sub:after {
  content: "";
  position: absolute;
  background: url("../img/header/icon_down_gl.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.header__inner .nav-menu__list > li:hover .menu-pulldown {
  opacity: 1;
  visibility: visible;
}
.header__inner .nav-menu .search {
  width: 30%;
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.header__inner .nav-menu .search__term {
  width: 100%;
  border: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #ededed;
  text-overflow: ellipsis;
}
.header__inner .nav-menu .search__term:focus {
  color: #333;
}
.header__inner .nav-menu .search__btn {
  width: 40px;
  height: 30px;
  border: 1px solid #ededed;
  background: #ededed;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  position: relative;
}
.header__inner .nav-menu .search__btn:after {
  content: "";
  position: absolute;
  background: url("../img/header/icon_search.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  left: 16%;
  top: 15%;
}
.header__inner .nav-menu .cart {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #FFEAF2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
.header__inner .nav-menu .cart:hover {
  background-color: #80891b;
}
.header__inner .nav-menu .cart .cart-icon {
  position: absolute;
  background: url("../img/header/icon_cart.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
.header__inner .nav-menu .cart .cart-icon span {
  position: absolute;
  top: -16px;
  right: -10px;
  background-color: #E0B278;
  color: #fff;
  border-radius: 100%;
  width: 16px;
  height: 16px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 13px;
  line-height: 1.2;
}
.header__inner .nav-menu__icon {
  width: auto;
  position: relative;
}
.header__inner .nav-menu__icon #nav-drp {
  display: none;
}
.header__inner .nav-menu__icon #nav-drp:checked ~ ul {
  visibility: visible;
  opacity: 1;
  transform: translateX(0%) scaleY(1);
}
.header__inner .nav-menu__icon .nav-drp-label {
  width: 20px;
  overflow: hidden;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #e8f8f7;
  border-radius: 100%;
  padding: 10px;
}
.header__inner .nav-menu__icon .nav-drp-label img {
  width: 100%;
}
.header__inner .nav-menu__icon .drp-menu {
  width: 120px;
  position: absolute;
  top: 140%;
  right: 0;
  transform: translateX(0%) scaleY(0.5);
  transform-origin: top center;
  text-align: left;
  background: #fff;
  padding: 10px 15px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}
.header__inner .nav-menu__icon .drp-menu li {
  padding-bottom: 5px;
}
.header__inner .nav-menu__icon .drp-menu li:last-child {
  padding-bottom: 0;
}
.header__inner .nav-menu__icon .drp-menu:before {
  content: "";
  position: absolute;
  top: -10%;
  right: 5%;
  border-bottom: solid 10px #fff;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}
.header__inner .nav-menu__icon .drp-menu .drp-link {
  color: #80891b;
  display: block;
  font-size: 20px;
  transition: all 0.5s ease;
}
.header__inner .nav-menu__icon .drp-menu .drp-link:hover {
  opacity: 0.7;
}
.header__inner #nav {
  display: none;
}
.header--top {
  background-color: transparent;
}
.header--top .header__inner .logo .logo-link {
  background: url("../img/header/logo_g.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.header--top .header__inner .logo .logo-link--02 {
  display: block;
  background: url("../img/header/logo_b.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 128px;
  height: 38px;
  margin-left: 0;
}
.header--top .header__inner .nav-menu__list li.sub:after {
  content: "";
  position: absolute;
  background: url("../img/header/icon_down_g.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.header--top .header__inner .nav-menu__list li.sub:hover:after {
  content: "";
  position: absolute;
  background: url("../img/header/icon_down_gl.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.header--top .header__inner .nav-menu__list li .nav-link {
  color: #0a472e;
}
.header--top .header__inner .nav-menu__list li .nav-link:hover {
  color: #80891b;
}
.header.scr {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0a472e;
  animation: nav-slide 0.35s ease-in-out;
}
.header.scr .header__inner .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header.scr .header__inner .logo .logo-link {
  background: url("../img/header/logo.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}
.header.scr .header__inner .logo .logo-link--02 {
  display: block;
  background: url("../img/header/logo_bw.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 128px;
  height: 38px;
}
.header.scr .header__inner .nav-menu__list li.sub:after {
  content: "";
  position: absolute;
  background: url("../img/header/icon_down_w.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.header.scr .header__inner .nav-menu__list li.sub:hover:after {
  content: "";
  position: absolute;
  background: url("../img/header/icon_down_gl.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.header.scr .header__inner .nav-menu__list .nav-link {
  color: #fff;
}

@keyframes nav-slide {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@media screen and (max-width: 1024px) {
  .header__inner .logo .logo-link {
    width: 40px;
    height: 40px;
  }
  .header__inner .logo .logo-link--02 {
    width: 100px;
    height: 38px;
  }
  .header__inner .nav-menu__list li {
    width: 20%;
  }
  .header.scr .header__inner .logo .logo-link {
    width: 40px;
    height: 40px;
  }
  .header.scr .header__inner .logo .logo-link--02 {
    width: 128px;
    height: 38px;
  }
}
@media screen and (max-width: 800px) {
  .header__inner {
    padding: 20px 30px;
  }
  .header__inner .nav-menu {
    display: none;
  }
  .header__inner #nav {
    display: block;
    position: relative;
    top: 3%;
    right: 3%;
    z-index: 2;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  .header__inner #nav .nav-link {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
  }
  .header__inner #nav .nav-link:hover {
    color: #0a472e;
  }
  .header__inner #nav input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    right: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }
  .header__inner #nav input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #fff;
  }
  .header__inner #nav input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  .header__inner #nav input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  .header__inner #nav input:checked ~ ul {
    transform: none;
  }
  .header__inner #nav input:checked ~ #menu {
    right: 0;
  }
  .header__inner #nav span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #fff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  .header__inner #nav span:first-child {
    transform-origin: 0% 0%;
  }
  .header__inner #nav span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  .header__inner #menu {
    position: fixed;
    width: 300px;
    height: 100vh;
    top: 0;
    right: -300px;
    padding: 85px 50px;
    background: #80891b;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .header__inner #menu li .nav-link {
    display: block;
    font-size: 22px;
    text-align: center;
    padding: 10px 0;
  }
  .header__inner #menu li .spmenu-pulldown li {
    text-align: center;
  }
  .header__inner #menu li .spmenu-pulldown li .sub-link {
    color: #fff;
  }
}
@media screen and (max-width: 375px) {
  .header__inner #menu {
    width: 100%;
    padding: 85px 10px;
    margin: 0 -10px;
  }
}
/* footer */
.footer {
  width: 100%;
  box-sizing: border-box;
  bottom: 0;
  z-index: 1;
}
.footer .footer-contact {
  background-color: #0a472e;
}
.footer .footer-contact__inner {
  padding: 30px 40px;
}
.footer .footer-contact__inner ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.footer .footer-contact__inner ul li {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  padding-left: 60px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.footer .footer-contact__inner ul li:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0;
}
.footer .footer-contact__inner ul li span {
  color: #80891b;
}
.footer .footer-contact__inner ul li.deli:before {
  background: url("../img/common/icon_delivery.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.footer .footer-contact__inner ul li.call:before {
  background: url("../img/common/icon_telephone.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.footer .footer-contact__inner ul li.mail:before {
  background: url("../img/common/icon_email.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.footer .footer-contact__inner ul li.commu:before {
  background: url("../img/common/icon_community.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.footer .footer-banner {
  background-color: #083925;
  padding: 60px 20px;
}
.footer .footer-banner__inner {
  display: flex;
  flex-direction: row;
}
.footer .footer-banner__inner .menu-list {
  width: calc(25% - 10px);
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}
.footer .footer-banner__inner .menu-list:last-child {
  padding-right: 0;
}
.footer .footer-banner__inner .menu-list .title {
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  padding-bottom: 20px;
  text-align: left;
}
.footer .footer-banner__inner .menu-list p {
  font-size: 13px;
  color: #909896;
}
.footer .footer-banner__inner .menu-list ul li a {
  color: #909896;
  font-size: 13px;
}
.footer .footer-banner__inner .menu-list ul li a:hover {
  color: #80891b;
}
.footer address {
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.3;
  text-align: center;
  padding: 20px 10px;
  color: #fff;
  background-color: #000;
}

@media screen and (max-width: 800px) {
  .footer .footer-contact__inner ul li {
    width: calc(50% - 60px);
    margin-bottom: 30px;
  }
  .footer .footer-contact__inner ul li.mail, .footer .footer-contact__inner ul li.commu {
    margin-bottom: 0;
  }
  .footer .footer-banner__inner {
    flex-wrap: wrap;
  }
  .footer .footer-banner__inner .menu-list {
    width: calc(50% - 10px);
    padding-right: 20px;
    padding-bottom: 20px;
  }
  .footer .footer-banner__inner .menu-list:nth-of-type(2n + 2) {
    padding-right: 0;
  }
}
@media screen and (max-width: 600px) {
  .footer .footer-contact__inner ul {
    flex-direction: column;
    align-items: center;
  }
  .footer .footer-contact__inner ul li {
    width: 100%;
    padding-top: 60px;
    padding-left: 0;
    align-items: center;
  }
  .footer .footer-contact__inner ul li:before {
    top: 0;
    left: 40%;
  }
  .footer .footer-contact__inner ul li.mail {
    margin-bottom: 30px;
  }
  .footer .footer-contact__inner ul li.commu {
    margin-bottom: 0;
  }
}
/* ==========================================================================
  Object
========================================================================== */
.c-btn .btn input[type=submit] {
  font-size: 18px;
  width: 100%;
  height: 60px;
  background-color: #80891b;
  color: #fff;
  border: 0;
}
.c-btn--cart, .c-btn--checkout, .c-btn--coupon {
  background-color: #a8b324;
  text-align: center;
  width: 180px;
  margin: 0 auto;
  padding: 10px 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}
.c-btn--cart .card-link, .c-btn--checkout .card-link, .c-btn--coupon .card-link {
  color: #fff;
  display: block;
}
.c-btn--cart.disable, .c-btn--checkout.disable, .c-btn--coupon.disable {
  background-color: #999;
  width: 100%;
}
.c-btn--cart.disable .card-link, .c-btn--checkout.disable .card-link, .c-btn--coupon.disable .card-link {
  width: 100%;
  margin: 0;
  pointer-events: none;
}
.c-btn--checkout {
  width: 100%;
  max-width: 350px;
}
.c-btn--coupon {
  margin-left: 26px;
}
.c-btn--item-list {
  background-color: #0a472e;
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-btn--item-list .card-link {
  display: block;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .c-btn .btn input[type=submit] {
    font-size: 16px;
  }
  .c-btn--cart, .c-btn--checkout {
    width: 100%;
  }
  .c-btn--checkout {
    max-width: 300px;
  }
}
@media screen and (max-width: 800px) {
  .p-bloc--item-detail .c-btn--cart, .p-bloc--item-detail .c-btn--coupon {
    max-width: 300px;
    margin: 0;
  }
  .p-bloc--item-detail .c-btn--cart.disable, .p-bloc--item-detail .c-btn--coupon.disable {
    max-width: 100%;
  }
  .c-btn--checkout {
    max-width: 150px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 400px) {
  .c-btn--cart, .c-btn--checkout, .c-btn--coupon {
    padding: 5px;
  }
}
.l-label {
  width: 100%;
  height: 300px;
  background-image: url("../img/common/breadcrumb_bg.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}
.l-label__inner {
  max-width: 1000px;
  margin: 0 auto;
  padding: 100px 30px;
}
.l-label__inner .label-title {
  font-size: 40px;
  line-height: 1.2;
  color: #0a472e;
  padding-bottom: 30px;
}
.l-label__inner ul {
  display: flex;
  flex-direction: row;
}
.l-label__inner ul li {
  padding-right: 20px;
  position: relative;
  display: inline-flex;
  align-items: center;
}
.l-label__inner ul li:after {
  content: "";
  position: absolute;
  background: url("../img/common/icon_right.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  right: 5px;
}
.l-label__inner ul li:last-child {
  padding-right: 0;
}
.l-label__inner ul li:last-child:after {
  display: none;
}
.l-label__inner ul li .label-link {
  font-size: 18px;
  line-height: 1.2;
  color: #000;
}
.l-label__inner ul li .label-link.active {
  color: #5c5c5c;
  cursor: default;
}

@media screen and (max-width: 600px) {
  .l-label {
    height: 280px;
  }
  .l-label__inner {
    padding: 90px 30px;
  }
  .l-label__inner .label-title {
    font-size: 30px;
  }
  .l-label__inner ul li {
    padding-right: 15px;
  }
  .l-label__inner ul li .label-link {
    font-size: 14px;
  }
}
.paging {
  position: relative;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: 28px;
  padding-bottom: 100px;
}
.paging li.prev .paging-link, .paging li.next .paging-link {
  box-sizing: border-box;
  text-align: center;
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 100%;
}
.paging li.prev .paging-link img, .paging li.next .paging-link img {
  width: 100%;
  height: auto;
  vertical-align: top;
}
.paging li.prev {
  padding: 0 15px 0 0;
}
.paging li.next {
  padding: 0 0 0 15px;
}
.paging li:not(.prev, .next) {
  padding: 0 15px;
}
.paging li:not(.prev, .next) span,
.paging li:not(.prev, .next) .paging-link {
  box-sizing: border-box;
  text-align: center;
  display: block;
  font-size: 16px;
  line-height: 28px;
  font-weight: normal;
  letter-spacing: -0.02em;
  padding-top: 1px;
}
.paging li:not(.prev, .next) span {
  font-weight: bold;
}
.paging li:not(.prev, .next) span,
.paging li:not(.prev, .next) .paging-link,
.paging li:not(.prev, .next) a.paging-link:visited {
  color: #707070;
}

@media screen and (min-width: 801px) {
  .paging li.prev .paging-link,
  .paging li.next .paging-link {
    transition: background-color 0.2s;
  }
  .paging li.prev .paging-link:hover,
  .paging li.next .paging-link:hover {
    opacity: 0.8;
  }
  .paging li:not(.prev, .next) .paging-link {
    transition: color 0.2s;
  }
  .paging li:not(.prev, .next) .paging-link:hover {
    opacity: 0.8;
  }
}
@media screen and (max-width: 420px) {
  .paging li.prev, .paging li.next {
    position: absolute;
    top: 0;
    z-index: 0;
  }
  .paging li.prev {
    left: 0;
  }
  .paging li.next {
    right: 0;
  }
}
.cart__inner {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
}
.cart__inner .item-list {
  width: 55%;
}
.cart__inner .item-list .item-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 60px;
}
.cart__inner .item-list .item-table tr {
  text-align: center;
  color: #0a472e;
  border-bottom: 1px solid #ebebeb;
}
.cart__inner .item-list .item-table tr th {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 20px;
}
.cart__inner .item-list .item-table tr td {
  font-size: 16px;
}
.cart__inner .item-list .item-table tr td img {
  max-width: 90px;
}
.cart__inner .item-list .item-table tr td.del {
  position: relative;
  width: 5%;
}
.cart__inner .item-list .item-table tr td.del:before {
  content: "";
  position: absolute;
  background: url("../img/common/icon_delete.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  left: 0;
  top: 35%;
}
.cart__inner .item-list .item-table.sp {
  display: none;
}
.cart__inner .item-list .coupon {
  display: flex;
}
.cart__inner .item-list .coupon input[type=text] {
  text-indent: 10px;
}
.cart__inner .amt {
  width: 30%;
  border: 6px solid #ebebeb;
  padding: 20px;
}
.cart__inner .amt .amt-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}
.cart__inner .amt .amt-table tr {
  color: #0a472e;
  border-bottom: 1px solid #ebebeb;
}
.cart__inner .amt .amt-table tr:last-child {
  border-bottom: 0;
}
.cart__inner .amt .amt-table tr th,
.cart__inner .amt .amt-table tr td {
  padding: 20px;
}
.cart__inner .amt .amt-table tr th {
  font-size: 24px;
  font-weight: 600;
}
.cart__inner .amt .amt-table tr td {
  font-size: 20px;
  font-weight: 700;
}
.cart__inner .amt .amt-table tr td.total {
  font-size: 24px;
  color: #80891b;
}

@media screen and (max-width: 1200px) {
  .cart__inner .amt {
    width: 33%;
  }
  .cart__inner .amt .amt-table tr th,
  .cart__inner .amt .amt-table tr td {
    padding: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .cart__inner {
    flex-direction: column;
  }
  .cart__inner .item-list {
    width: 100%;
    margin-bottom: 40px;
  }
  .cart__inner .item-list .coupon input[type=text] {
    margin-right: 15px;
  }
  .cart__inner .amt {
    width: 100%;
    padding: 0 0 20px;
  }
}
@media screen and (max-width: 800px) {
  .cart__inner .item-list .item-table.pc {
    display: none;
  }
  .cart__inner .item-list .item-table.sp {
    display: block;
  }
  .cart__inner .item-list .item-table tr th img {
    max-width: 60px;
  }
  .cart__inner .item-list .item-table tr td {
    text-align: left;
  }
  .cart__inner .item-list .item-table tr td.del:before {
    top: 20%;
  }
  .cart__inner .item-list .item-table tr th,
  .cart__inner .item-list .item-table tr td {
    padding: 10px;
  }
}
/* cart-payment */
.cart--payment .cart__inner .bill-info {
  width: 35%;
}
.cart--payment .cart__inner .bill-info .title {
  text-align: left;
  padding-bottom: 30px;
}
.cart--payment .cart__inner .bill-info__inner form ul {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.cart--payment .cart__inner .bill-info__inner form ul li {
  padding-bottom: 30px;
}
.cart--payment .cart__inner .bill-info__inner form ul li:last-child {
  padding-bottom: 0;
}
.cart--payment .cart__inner .bill-info__inner form ul li label {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;
}
.cart--payment .cart__inner .bill-info__inner form ul li label.required {
  display: relative;
}
.cart--payment .cart__inner .bill-info__inner form ul li label.required:after {
  content: "*";
  position: absolute;
  width: 20px;
  color: red;
  padding-left: 3px;
}
.cart--payment .cart__inner .bill-info__inner form ul li input[type=text] {
  display: block;
  width: 100%;
  height: 35px;
  margin: 10px 0 0;
  text-indent: 15px;
  text-shadow: 0 0 0 #000 !important;
}
.cart--payment .cart__inner .bill-info__inner form ul li input[type=text]:hover {
  border: 2px solid #80891b;
}
.cart--payment .cart__inner .bill-info__inner form ul li input[type=text]:focus-visible {
  outline: none;
}
.cart--payment .cart__inner .bill-info__inner .payment {
  padding-bottom: 30px;
}
.cart--payment .cart__inner .bill-info__inner .payment p {
  font-size: 20px;
  padding-bottom: 20px;
}
.cart--payment .cart__inner .bill-info__inner .payment__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}
.cart--payment .cart__inner .bill-info__inner .payment__inner .payment-btn {
  display: inline-flex;
  justify-content: center;
}
.cart--payment .cart__inner .bill-info__inner .payment__inner .payment-btn label {
  position: relative;
  font-size: 18px;
  margin-left: 5px;
}
.cart--payment .cart__inner .bill-info__inner .payment__inner .payment-btn label:before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
}
.cart--payment .cart__inner .bill-info__inner .payment__inner .payment-btn label.kpay:before {
  background: url("../img/common/kpay.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.cart--payment .cart__inner .bill-info__inner .payment__inner .payment-btn label.wave:before {
  background: url("../img/common/wave.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.cart--payment .cart__inner .amt {
  width: 45%;
}

@media screen and (max-width: 800px) {
  .bill-info {
    width: 100%;
    margin-bottom: 30px;
  }
}
.form-area {
  display: flex;
  flex-direction: row;
  max-width: 600px;
  margin: 60px auto;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}
.form-area .txt-box {
  width: 100%;
  margin: 0 auto;
}
.form-area .txt-box__inner {
  max-width: 60%;
  margin: 0 auto;
  padding: 60px 0;
}
.form-area .txt-box__inner .title {
  font-size: 34px;
  line-height: 1.3;
  padding-bottom: 10px;
}
.form-area .txt-box__inner .desc {
  font-size: 16px;
  line-height: 1.2;
  padding-bottom: 25px;
}
.form-area .txt-box__inner .form ul {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.form-area .txt-box__inner .form ul li {
  padding-bottom: 30px;
}
.form-area .txt-box__inner .form ul li:last-child {
  padding-bottom: 0;
}
.form-area .txt-box__inner .form ul li label {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;
}
.form-area .txt-box__inner .form ul li input[type=email],
.form-area .txt-box__inner .form ul li input[type=password],
.form-area .txt-box__inner .form ul li input[type=text] {
  display: block;
  width: 100%;
  height: 35px;
  margin: 10px 0 0;
  text-indent: 15px;
  text-shadow: 0 0 0 #000 !important;
}
.form-area .txt-box__inner .form ul li input[type=email]:hover,
.form-area .txt-box__inner .form ul li input[type=password]:hover,
.form-area .txt-box__inner .form ul li input[type=text]:hover {
  border: 2px solid #80891b;
}
.form-area .txt-box__inner .form ul li input[type=email]:focus-visible,
.form-area .txt-box__inner .form ul li input[type=password]:focus-visible,
.form-area .txt-box__inner .form ul li input[type=text]:focus-visible {
  outline: none;
}

@media screen and (max-width: 1024px) {
  .form-area .txt-box__inner {
    max-width: 70%;
    padding: 40px 0;
  }
  .form-area .txt-box__inner .title {
    font-size: 30px;
  }
  .form-area .txt-box__inner .desc {
    font-size: 14px;
    padding-bottom: 20px;
  }
  .form-area .txt-box__inner .form ul li {
    padding-bottom: 15px;
  }
  .form-area .txt-box__inner .form ul li label {
    font-size: 16px;
  }
  .form-area .txt-box__inner .form ul li input[type=email],
  .form-area .txt-box__inner .form ul li input[type=password],
  .form-area .txt-box__inner .form ul li input[type=text] {
    height: 30px;
  }
}
@media screen and (max-width: 800px) {
  .form-area .txt-box__inner {
    max-width: 75%;
    padding: 30px 0;
  }
  .form-area .txt-box__inner .title {
    font-size: 26px;
  }
  .form-area .txt-box__inner .desc {
    font-size: 12px;
    padding-bottom: 10px;
  }
  .form-area .txt-box__inner .form ul {
    margin-bottom: 25px;
  }
  .form-area .txt-box__inner .form ul li {
    padding-bottom: 10px;
  }
  .form-area .txt-box__inner .form ul li label {
    font-size: 14px;
  }
  .form-area .txt-box__inner .form ul li input[type=email],
  .form-area .txt-box__inner .form ul li input[type=password],
  .form-area .txt-box__inner .form ul li input[type=text] {
    height: 25px;
    margin: 0;
    text-indent: 10px;
  }
}
.social-link p {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 20px 5px;
}
.social-link p:before, .social-link p:after {
  content: "";
  position: absolute;
  width: 30%;
  height: 1px;
  background: #ccc;
}
.social-link p:before {
  left: 0;
}
.social-link p:after {
  right: 0;
}
.social-link__icon {
  display: flex;
  flex-direction: column;
}
.social-link__icon .g,
.social-link__icon .fb {
  width: 100%;
  font-size: 18px;
  text-align: center;
  padding: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.social-link__icon .g:hover,
.social-link__icon .fb:hover {
  opacity: 0.8;
  transition: all 0.3s ease;
}
.social-link__icon .g {
  color: inherit;
  background-color: #fff;
  margin-bottom: 15px;
}
.social-link__icon .g:before {
  content: "";
  position: absolute;
  background: url("../img/login/icon_g.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  left: 16%;
}
.social-link__icon .fb {
  color: #fff;
  background-color: #4267B2;
  margin-bottom: 15px;
}
.social-link__icon .fb:before {
  content: "";
  position: absolute;
  background: url("../img/login/icon_f_w.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  left: 16%;
}

@media screen and (max-width: 1024px) {
  .social-link__icon .g:before,
  .social-link__icon .fb:before {
    left: 5%;
  }
}
@media screen and (max-width: 800px) {
  .social-link p:before, .social-link p:after {
    width: 24%;
  }
  .social-link__icon .g,
  .social-link__icon .fb {
    font-size: 14px;
  }
  .social-link__icon .g:before,
  .social-link__icon .fb:before {
    left: 6%;
  }
}
.product-list {
  padding: 0 0 60px;
}
.product-list__inner {
  display: flex;
  flex-flow: row wrap;
}
.product-list__inner .product-bloc {
  width: calc(33.3333333333% - 40px);
  margin-right: 60px;
  margin-top: 60px;
  overflow: hidden;
}
.product-list__inner .product-bloc:nth-of-type(3n + 3) {
  margin-right: 0;
}
.product-list__inner .product-bloc__inner {
  display: flex;
  flex-direction: column;
}
.product-list__inner .product-bloc__inner .img-box {
  width: 100%;
}
.product-list__inner .product-bloc__inner .img-box img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-list__inner .product-bloc__inner .txt-box {
  padding: 15px 20px 30px;
}
.product-list__inner .product-bloc__inner .txt-box__inner .product-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
  text-align: center;
  padding-bottom: 10px;
}
.product-list__inner .product-bloc__inner .txt-box__inner dl {
  text-align: center;
  padding-bottom: 10px;
}
.product-list__inner .product-bloc__inner .txt-box__inner dl dd {
  color: #a8b324;
  font-weight: 700;
}
.product-list__inner .slick-prev {
  left: 10%;
}
.product-list__inner .slick-next {
  right: 10%;
}
.product-list .show-all {
  float: right;
  color: #0a472e;
}
.product-list .show-all:hover {
  opacity: 0.7;
  transition: all 0.3s;
}

.recommend .title a {
  color: #000;
}
.recommend .product-list .product-bloc {
  width: calc(25% - 23px);
  margin-right: 30px;
}
.recommend .product-list .product-bloc:last-child {
  margin-right: 0;
}

@media screen and (max-width: 800px) {
  .recommend .product-list .product-bloc {
    width: calc(50% - 15px);
    margin-right: 15px;
  }
  .recommend .product-list .product-bloc:nth-of-type(2n + 2) {
    margin-right: 0;
  }
}
@media screen and (max-width: 600px) {
  .product-list {
    padding: 40px 0;
  }
  .product-list .product-bloc {
    width: calc(50% - 10px);
    margin-right: 20px;
    margin-top: 20px;
  }
  .product-list .product-bloc:nth-of-type(3n + 3) {
    margin-right: 20px;
  }
  .product-list .product-bloc:nth-of-type(2n + 2) {
    margin-right: 0;
  }
  .recommend .product-list .product-bloc {
    width: calc(50% - 10px);
    margin-right: 20px;
  }
}
.sorting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0 15px;
  border-bottom: 1px solid #ebebeb;
}
.sorting p {
  font-size: 14px;
}
.sorting .sorting-list {
  border: 1px solid #ebebeb;
  background-color: #fff;
  border-radius: 2px;
}
.sorting .sorting-list select {
  font-size: 14px;
  color: #000;
  padding: 8px;
  width: 100%;
  position: relative;
  border: 1px solid #ebebeb;
  outline: none;
}
.sorting .sorting-list select option {
  font-size: 14px;
  color: #444;
  width: 100%;
  position: absolute;
  top: 0;
}
.sorting .sorting-list select option:focus-visible {
  outline: none;
}
.sorting .sorting-list:focus, .sorting .sorting-list:active {
  outline: none;
  box-shadow: none;
}

.product-detail {
  padding: 60px 0;
}
.product-detail__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 80px;
}
.product-detail__inner .img-box {
  width: 45%;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}
.product-detail__inner .img-box img {
  width: 100%;
  transition: transform 0.3s, filter 1.5s ease-in-out;
}
.product-detail__inner .img-box:hover {
  transition: all 0.3s ease;
}
.product-detail__inner .img-box:hover img {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}
.product-detail__inner .txt-box {
  width: 45%;
  display: flex;
  flex-direction: column;
}
.product-detail__inner .txt-box .cat {
  margin-bottom: 10px;
}
.product-detail__inner .txt-box .cat span {
  margin-right: 20px;
}
.product-detail__inner .txt-box .cat span:last-child {
  margin-right: 0;
}
.product-detail__inner .txt-box .cat .stock,
.product-detail__inner .txt-box .cat .otf-stock {
  width: -moz-max-content;
  width: max-content;
  font-size: 10px;
  line-height: 1.2;
  background-color: #defaf2;
  padding: 5px 10px;
}
.product-detail__inner .txt-box .cat .otf-stock {
  background-color: #b1b1b1;
}
.product-detail__inner .txt-box .product-info {
  padding-bottom: 30px;
}
.product-detail__inner .txt-box .product-info .title {
  font-size: 30px;
  line-height: 1.2;
  text-align: left;
  color: #0a472e;
  padding-bottom: 5px;
}
.product-detail__inner .txt-box .product-info .price {
  font-size: 24px;
  font-weight: 600;
  color: #a8b324;
}
.product-detail__inner .txt-box .product-info .desc {
  font-size: 16px;
  color: #555;
}
.product-detail__inner .txt-box .product-add {
  display: flex;
  flex-direction: column;
}
.product-detail__inner .txt-box .product-add .subsc-title {
  font-size: 20px;
  padding-bottom: 15px;
}
.product-detail__inner .txt-box .product-add__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.product-detail__inner .txt-box .product-add__inner:last-child {
  margin-bottom: 0;
}
.product-detail__inner .txt-box .product-add__inner .subsc-btn input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.product-detail__inner .txt-box .product-add__inner .subsc-btn input[type=radio] + label {
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  line-height: 20px;
}
.product-detail__inner .txt-box .product-add__inner .subsc-btn input[type=radio] + label:before {
  content: "";
  display: inline-block;
  width: 15px;
  aspect-ratio: 1;
  border: 1px solid #a8b324;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 1;
  transition: all 0.3s;
}
.product-detail__inner .txt-box .product-add__inner .subsc-btn input[type=radio] + label:after {
  content: "";
  display: inline-block;
  width: 5px;
  aspect-ratio: 1;
  border: 1px solid #a8b324;
  background: #a8b324;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.3s;
}
.product-detail__inner .txt-box .product-add__inner .subsc-btn input[type=radio]:checked + label:after {
  opacity: 1;
}
.product-detail__inner .txt-box .product-add .product-qty {
  position: relative;
  padding-right: 3%;
}
.product-detail__inner .txt-box .product-add input[type=number]::-webkit-inner-spin-button,
.product-detail__inner .txt-box .product-add input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}
.product-detail__inner .txt-box .product-add input[type=number] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
.product-detail__inner .txt-box .product-add .product-qty input {
  width: 120px;
  height: 42px;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  border: 1px solid #ebebeb;
  border-radius: 5px;
}
.product-detail__inner .txt-box .product-add .product-qty input:focus {
  outline: 0;
}
.product-detail__inner .txt-box .product-add .product-qty-nav {
  float: left;
  position: relative;
  height: 42px;
}
.product-detail__inner .txt-box .product-add .product-qty-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #ebebeb;
  width: 30px;
  text-align: center;
  color: #333;
  font-size: 15px;
  line-height: 1.5;
  transform: translateX(-100%);
}
.product-detail__inner .txt-box .product-add .product-qty-button.product-qty-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid #ebebeb;
}
.product-detail__inner .txt-box .product-add .product-qty-button.product-qty-down {
  position: absolute;
  bottom: -1px;
  height: 50%;
}
.product-detail .additional-info {
  padding-bottom: 60px;
}
.product-detail .additional-info__inner .title {
  font-size: 38px;
  color: #0a472e;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.product-detail .additional-info__inner .title:hover {
  color: #a8b324;
  transition: all 0.5s ease;
}
.product-detail .additional-info__inner .title:before, .product-detail .additional-info__inner .title:after {
  content: "";
  position: absolute;
  width: 26%;
  height: 1px;
  background: #ccc;
}
.product-detail .additional-info__inner .title:before {
  left: 0;
}
.product-detail .additional-info__inner .title:after {
  right: 0;
}
.product-detail .additional-info__inner table {
  width: 100%;
  border-collapse: collapse;
}
.product-detail .additional-info__inner table tr td {
  padding: 15px;
}
.product-detail .additional-info__inner table,
.product-detail .additional-info__inner th,
.product-detail .additional-info__inner td {
  border: 1px solid #ebebeb;
}
.product-detail .recommend__inner .title {
  color: #0a472e;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-detail .recommend__inner .title:hover {
  color: #a8b324;
  transition: all 0.5s ease;
}
.product-detail .recommend__inner .title:before, .product-detail .recommend__inner .title:after {
  content: "";
  position: absolute;
  width: 30%;
  height: 1px;
  background: #ccc;
}
.product-detail .recommend__inner .title:before {
  left: 0;
}
.product-detail .recommend__inner .title:after {
  right: 0;
}

@media screen and (max-width: 1024px) {
  .product-detail__inner .txt-box .product-add__inner .subsc-btn input[type=radio] + label {
    padding-left: 22px;
  }
  .product-detail .additional-info__inner .title:before, .product-detail .additional-info__inner .title:after {
    width: 20%;
  }
  .product-detail .recommend__inner .title:before, .product-detail .recommend__inner .title:after {
    width: 24%;
  }
}
@media screen and (max-width: 800px) {
  .product-detail__inner {
    flex-direction: column;
  }
  .product-detail__inner .img-box {
    width: 100%;
    margin-bottom: 35px;
  }
  .product-detail__inner .txt-box {
    width: 100%;
  }
  .product-detail__inner .txt-box .product-add__inner {
    justify-content: flex-start;
  }
  .product-detail .additional-info__inner .title:before, .product-detail .additional-info__inner .title:after,
  .product-detail .recommend__inner .title:before,
  .product-detail .recommend__inner .title:after {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .product-detail__inner .txt-box .product-info .title {
    font-size: 28px;
  }
  .product-detail__inner .txt-box .product-info .price {
    font-size: 20px;
  }
  .product-detail__inner .txt-box .product-info .desc {
    font-size: 14px;
  }
  .product-detail__inner .txt-box .product-add__inner .subsc-btn label {
    font-size: 14px;
  }
  .product-detail__inner .txt-box .product-add .product-qty input {
    width: 100px;
  }
  .product-detail .additional-info,
  .product-detail .recommend {
    padding-bottom: 40px;
  }
  .product-detail .additional-info__inner .title,
  .product-detail .recommend__inner .title {
    font-size: 30px;
    padding-bottom: 25px;
  }
  .product-detail .recommend {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 360px) {
  .product-detail .additional-info__inner .title,
  .product-detail .recommend__inner .title {
    font-size: 24px;
  }
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slider {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.8s ease-in-out, opacity 0.8s ease-in-out;
}
.slider img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

.slider.slick-initialized {
  visibility: visible;
  opacity: 1;
}

.slick-slide,
.slick-slide * {
  outline: none !important;
}

.slick-list {
  position: relative;
  z-index: 1;
}
.slick-list li,
.slick-list div.slide-bg {
  display: block !important;
}

.p-slider .slick-dots,
.product-slider .slick-dots,
.review-slider .slick-dots {
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
  height: 4px;
}
.p-slider .slick-dots li,
.product-slider .slick-dots li,
.review-slider .slick-dots li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 90px;
  height: 4px;
  margin: 0 3px;
  padding: 0;
  cursor: pointer;
}
.p-slider .slick-dots li button,
.product-slider .slick-dots li button,
.review-slider .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 90px;
  height: 4px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.p-slider .slick-dots li button:before,
.product-slider .slick-dots li button:before,
.review-slider .slick-dots li button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  height: 4px;
  border-radius: 0;
  text-align: center;
  background-color: #e0e0e0;
}
.p-slider .slick-dots li.slick-active button:before,
.product-slider .slick-dots li.slick-active button:before,
.review-slider .slick-dots li.slick-active button:before {
  background-color: #000;
}

.review-slider .slick-dots {
  text-align: left;
}
.review-slider .slick-dots li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.review-slider .slick-dots li button {
  width: 10px;
  height: 10px;
}
.review-slider .slick-dots li button:before {
  width: 10px;
  height: 10px;
}
.review-slider .slick-dots li.slick-active button:before {
  background-color: #0a472e;
}

@media screen and (max-width: 600px) {
  .p-slider .slick-dots li,
  .product-slider .slick-dots li {
    width: 68px;
    margin: 0 2px;
  }
  .p-slider .slick-dots li button,
  .product-slider .slick-dots li button {
    width: 68px;
  }
  .p-slider .slick-dots li button:before,
  .product-slider .slick-dots li button:before {
    width: 68px;
  }
}
.p-slider button.slick-arrow,
.product-slider button.slick-arrow {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  z-index: 10;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 0;
  border-radius: 100%;
  outline: none !important;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px 20px;
}
.p-slider .slick-arrow,
.product-slider .slick-arrow {
  text-indent: -99999px;
}
.p-slider .slick-prev,
.product-slider .slick-prev {
  background-image: url("../img/slider/arrow_left.png");
}
.p-slider .slick-next,
.product-slider .slick-next {
  background-image: url("../img/slider/arrow_right.png");
}
.p-slider__area--mainvisual button.slick-arrow,
.product-slider__area--mainvisual button.slick-arrow {
  background-color: rgba(255, 255, 255, 0.7);
}

.product-slider button.slick-arrow {
  width: 50px;
  height: 50px;
  top: 7%;
}
.product-slider button.slick-arrow:hover {
  opacity: 0.8s;
  transition: all 0.3s ease;
}
.product-slider .slick-prev {
  left: 88%;
}
.product-slider .slick-next {
  right: 0;
}

@media screen and (max-width: 1024px) {
  .product-slider .slick-prev {
    left: 83%;
  }
}
@media screen and (max-width: 800px) {
  .p-slider button.slick-arrow,
  .product-slider button.slick-arrow {
    width: 46px;
    height: 46px;
    margin-top: -23px;
  }
  .product-slider .slick-prev {
    left: 80%;
  }
}
@media screen and (max-width: 600px) {
  .product-slider .slick-prev {
    left: 68%;
  }
}
@media screen and (max-width: 400px) {
  .product-slider button.slick-arrow {
    width: 36px;
    height: 36px;
    margin-top: -20px;
    background-size: 18px 18px;
  }
  .product-slider .slick-prev {
    left: 72%;
  }
}
.p-mainvisual {
  position: relative;
  z-index: 1;
  margin-top: -80px;
  margin-bottom: 105px;
}
.p-mainvisual__img {
  max-width: 100%;
  margin: 0 auto;
}
.p-mainvisual__img .p-slider__area--mainvisual {
  margin: 0;
}
.p-mainvisual__img .p-slider__area--mainvisual .slide-bg {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}
.p-mainvisual__img .p-slider__area--mainvisual .slide-bg img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}
.p-mainvisual__img .p-slider__area--mainvisual .slide-bg ul {
  position: absolute;
  top: 30%;
  left: 20%;
}
.p-mainvisual__img .p-slider__area--mainvisual .slide-bg ul li {
  padding-bottom: 20px;
  transform: all 4s ease-in-out;
}
.p-mainvisual__img .p-slider__area--mainvisual .slide-bg ul li:first-child {
  font-size: 60px;
  line-height: 1.3;
  font-weight: 900;
  color: #fff;
}
.p-mainvisual__img .p-slider__area--mainvisual .slide-bg ul li:nth-of-type(2) {
  font-size: 20px;
  color: #fff;
  transition-delay: 1s;
}
.p-mainvisual__img .p-slider__area--mainvisual .slide-bg ul li:last-child {
  padding-bottom: 0;
  transition-delay: 2s;
}
.p-mainvisual__img .slick-prev {
  left: 10%;
}
.p-mainvisual__img .slick-next {
  right: 10%;
}
.p-mainvisual__dots {
  position: absolute;
  bottom: -24px;
  left: 0;
  right: 0;
  z-index: 3;
}

@media screen and (max-width: 1200px) {
  .p-mainvisual__img .p-slider__area--mainvisual .slide-bg ul li:first-child {
    font-size: 50px;
    line-height: 1.2;
  }
  .p-mainvisual__img .p-slider__area--mainvisual .slide-bg ul li:nth-of-type(2n) {
    font-size: 18px;
  }
}
@media screen and (max-width: 1024px) {
  .p-mainvisual {
    margin-bottom: 60px;
  }
  .p-mainvisual__img .p-slider__area--mainvisual .slide-bg ul {
    left: 18%;
  }
  .p-mainvisual__img .p-slider__area--mainvisual .slide-bg ul li:first-child {
    font-size: 34px;
  }
  .p-mainvisual__img .p-slider__area--mainvisual .slide-bg ul li:nth-of-type(2) {
    font-size: 15px;
  }
  .p-mainvisual__img .slick-prev {
    left: 7%;
  }
  .p-mainvisual__img .slick-next {
    right: 7%;
  }
}
@media screen and (max-width: 800px) {
  .p-mainvisual {
    margin-bottom: 60px;
  }
  .p-mainvisual__img .p-slider__area--mainvisual .slide-bg ul {
    left: 18%;
  }
  .p-mainvisual__img .p-slider__area--mainvisual .slide-bg ul li:first-child {
    font-size: 24px;
    padding-bottom: 8px;
  }
  .p-mainvisual__img .p-slider__area--mainvisual .slide-bg ul li:nth-of-type(2) {
    max-width: 190px;
    line-height: 1.3;
  }
}
@media screen and (max-width: 600px) {
  .p-mainvisual {
    margin-bottom: 67px;
  }
  .p-mainvisual__img .p-slider__area--mainvisual .slide-bg img {
    min-height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .p-mainvisual__img .slick-prev {
    left: 0%;
  }
  .p-mainvisual__img .slick-next {
    right: 0%;
  }
  .p-mainvisual__dots {
    bottom: -14px;
  }
}
@media screen and (max-width: 400px) {
  .p-mainvisual {
    margin-bottom: 63px;
  }
}
.title {
  font-size: 38px;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
  margin: 0;
}

.banner {
  margin-bottom: 60px;
}
.banner__inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.banner__inner .banner-img {
  width: calc(33.3333333333% - 10px);
  padding-right: 15px;
  padding-bottom: 15px;
}
.banner__inner .banner-img img {
  max-height: 300px;
}
.banner__inner .banner-img:nth-of-type(3n + 3) {
  padding-right: 0;
}
.banner--02 {
  margin: 0 -80px 40px;
}
.banner--02 .banner__inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex-wrap: nowrap;
}
.banner--02 .banner__inner .banner-img {
  width: 50%;
  padding: 0;
}
.banner--02 .banner__inner .banner-img img {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner--02 .banner__inner .banner-txt {
  width: 50%;
  background-color: #E8F7F6;
}
.banner--02 .banner__inner .banner-txt__inner {
  display: flex;
  flex-direction: column;
  padding: 60px 30px;
  width: 80%;
  margin: 0 auto;
}
.banner--02 .banner__inner .banner-txt__inner span {
  color: #80891b;
}
.banner--02 .banner__inner .banner-txt__inner h2 {
  font-size: 46px;
  padding-bottom: 15px;
  color: #0a472e;
}
.banner--02 .banner__inner .banner-txt__inner p {
  font-size: 18px;
  color: #0a472e;
}
.banner--02 .banner__inner .banner-txt__inner .info-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.banner--02 .banner__inner .banner-txt__inner .info-list li {
  width: calc(50% - 50px);
  padding: 30px 10px 30px 35px;
  color: #0a472e;
  position: relative;
}
.banner--02 .banner__inner .banner-txt__inner .info-list li:nth-of-type(2n + 2) {
  padding: 30px 10px 0 35px;
}
.banner--02 .banner__inner .banner-txt__inner .info-list li:before {
  content: "";
  position: absolute;
  background-color: none;
}
.banner--02 .banner__inner .banner-txt__inner .info-list li.list1:before {
  background: url("../img/banner/icon1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  left: 0;
}
.banner--02 .banner__inner .banner-txt__inner .info-list li.list2:before {
  background: url("../img/banner/icon5.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  left: 0;
}
.banner--02 .banner__inner .banner-txt__inner .info-list li.list3:before {
  background: url("../img/banner/icon2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  left: 0;
}
.banner--02 .banner__inner .banner-txt__inner .info-list li.list4:before {
  background: url("../img/banner/icon4.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  left: 0;
}

@media screen and (max-width: 1024px) {
  .banner {
    margin-bottom: 40px;
  }
  .banner__inner .banner-img img {
    max-height: 260px;
  }
  .banner--02 {
    margin: 0 -60px 40px;
  }
  .banner--02 .banner__inner h2 {
    font-size: 40px;
  }
}
@media screen and (max-width: 800px) {
  .banner {
    margin-bottom: 40px;
  }
  .banner__inner .banner-img img {
    max-height: 180px;
  }
  .banner--02 {
    margin: 0 -40px 30px;
  }
  .banner--02 .banner__inner {
    flex-direction: column;
  }
  .banner--02 .banner__inner h2 {
    font-size: 36px;
    padding-bottom: 10px;
  }
  .banner--02 .banner__inner p {
    font-size: 16px;
  }
  .banner--02 .banner__inner .banner-img {
    width: 100%;
  }
  .banner--02 .banner__inner .banner-txt {
    width: 100%;
  }
  .banner--02 .banner__inner .banner-txt__inner .info-list li {
    width: calc(50% - 40px);
    padding: 25px 5px 25px 30px;
  }
  .banner--02 .banner__inner .banner-txt__inner .info-list li:nth-of-type(2n + 2) {
    padding: 25px 5px 0 30px;
  }
}
@media screen and (max-width: 400px) {
  .banner__inner .banner-img {
    width: calc(50% - 10px);
  }
  .banner__inner .banner-img:nth-of-type(2n + 2) {
    padding-right: 0;
  }
  .banner__inner .banner-img:nth-of-type(3n + 3) {
    padding-right: 15px;
  }
  .banner__inner .banner-img img {
    max-height: 140px;
  }
  .banner--02 {
    margin: 0 -20px 30px;
  }
}
.is-delighter {
  transform: translateY(50px);
  transition: none;
  opacity: 0;
}

.is-delighter.delighter {
  transition: transform 0.8s ease-in, opacity 0.8s ease-in;
  transform: translateY(-50px);
  opacity: 0;
  z-index: 1;
}

.is-delighter.delighter.started {
  transform: none;
  opacity: 1;
}

.is-delighter.delighter.ended {
  z-index: 0;
}

.slide-right {
  width: 100%;
  animation: 4s slide-right;
}

@keyframes slide-right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}
.review-bloc {
  display: flex;
  align-items: center;
  background-image: url("../img/banner/banner_bg3.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 650px;
}
.review-bloc__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.review-bloc__inner .rating-box {
  background-image: url("../img/banner/banner_bg4.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: #0a472e;
  max-width: 300px;
  width: 35%;
}
.review-bloc__inner .rating-box__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
}
.review-bloc__inner .rating-box ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.review-bloc__inner .rating-box ul .rate {
  font-size: 80px;
  line-height: 1.3;
  color: #80891b;
}
.review-bloc__inner .rating-box ul .star {
  width: 64px;
  height: 40px;
}
.review-bloc__inner .rating-box ul .review {
  color: #fff;
}
.review-bloc__inner .rating-box .review-link {
  color: #80891b;
  text-decoration: underline;
}
.review-bloc__inner .rating-box .review-link:hover {
  opacity: 0.8;
}
.review-bloc__inner .review-list {
  width: 65%;
}
.review-bloc__inner .review-list .review-box {
  width: 100%;
  padding-bottom: 20px;
}
.review-bloc__inner .review-list .review-box__inner ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}
.review-bloc__inner .review-list .review-box__inner ul li {
  font-size: 24px;
  color: #fff;
}
.review-bloc__inner .review-list .review-box__inner ul li.profile {
  width: 60px;
  padding-right: 15px;
}
.review-bloc__inner .review-list .review-box__inner p {
  max-width: 500px;
  color: #fff;
  font-size: 20px;
}

@media screen and (max-width: 1024px) {
  .review-bloc__inner {
    flex-direction: column;
  }
  .review-bloc__inner .rating-box {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 600px) {
  .review-bloc {
    height: auto;
    background-size: cover;
  }
  .review-bloc__inner {
    flex-direction: column;
    padding: 40px 0;
  }
  .review-bloc__inner .rating-box {
    width: 100%;
    margin-bottom: 30px;
  }
  .review-bloc__inner .rating-box__inner {
    padding: 40px 0;
  }
  .review-bloc__inner .rating-box ul .rate {
    font-size: 40px;
  }
  .review-bloc__inner .review-list {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */