@charset "utf8";

.product-list {
	display: flex;
	flex-flow: row wrap;
	padding: 60px 0;

	.product-bloc {
		width: calc(100% / 3 - 40px);
		margin-right: 60px;
		margin-bottom: 60px;
		overflow: hidden;

		&:nth-of-type(3n + 3) {
			margin-right: 0;
		}

		&__inner {
			display: flex;
			flex-direction: column;

			.img-box {
				width: 100%;

				img {
					width: 100%;
					object-fit: cover;
				}
			}

			.txt-box	{
				padding: 15px 20px 30px;

				&__inner {
					.product-title {
						font-size: 18px;
						font-weight: 500;
						line-height: 1.3;
						text-align: center;
						padding-bottom: 10px;
					}

					dl {
						text-align: center;
						padding-bottom: 10px;

						dd {
							color: #a8b324;
							font-weight: 700;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.product-list {
		padding: 40px 0;

		.product-bloc {
			width: calc(100% / 2 - 10px);
			margin-right: 20px;
			margin-bottom: 20px;

			&:nth-of-type(2n + 2) {
				margin-right: 0;
			}
		}
	}
}
