@charset "utf8";

.p-mainvisual {
	position: relative;
	z-index: 1;
	margin-top: -80px;
	margin-bottom: 105px;

	&__img {
		max-width: 100%;
		margin: 0 auto;

		.p-slider {
			&__area {
				&--mainvisual {
					margin: 0;
					
					.slide-bg {
						display: block;
						position: relative;
						width: 100%;
						height: auto;
			
						img {
							width: 100%;
							height: auto;
							vertical-align: middle;
						}

						ul {
							position: absolute;
							top: 30%;
							left: 20%;

							li {
								padding-bottom: 20px;
								transform: all 4s ease-in-out;

								&:first-child {
									font-size: 60px;
									line-height: 1.3;
									font-weight: 900;
									color: #fff;
								}

								&:nth-of-type(2) {
									font-size: 20px;
									color: #fff;
									transition-delay: 1s;
								}

								&:last-child {
									padding-bottom: 0;
									transition-delay: 2s;
								}
							}
						}
					}
				}
			}
		}

		.slick-prev {
			left: 10%;
		}

		.slick-next {
			right: 10%;
		}
	}

	&__dots {
		position: absolute;
		bottom: -24px;
		left: 0;
		right: 0;
		z-index: 3;
	}
}

@media screen and (max-width: 1200px) {
	.p-mainvisual {
		&__img {
			.p-slider {
				&__area {
					&--mainvisual {
						.slide-bg {
							ul {
								li {
									&:first-child {
										font-size: 50px;
										line-height: 1.2;
									}

									&:nth-of-type(2n) {
										font-size: 18px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	.p-mainvisual {
		margin-bottom: 60px;

		&__img {
			.p-slider {
				&__area {
					&--mainvisual {
						.slide-bg {
							ul {
								left: 18%;

								li {
									&:first-child {
										font-size: 34px;
									}

									&:nth-of-type(2) {
										font-size: 15px;
									}
								}
							}
						}
					}
				}
			}

			.slick-prev {
				left: 7%;
			}

			.slick-next {
				right: 7%;
			}
		}
	}
}

@media screen and (max-width: 800px) {
	.p-mainvisual {
		margin-bottom: 60px;

		&__img {
			.p-slider {
				&__area {
					&--mainvisual {
						.slide-bg {
							ul {
								left: 18%;

								li {
									&:first-child {
										font-size: 24px;
										padding-bottom: 8px;
									}

									&:nth-of-type(2) {
										max-width: 190px;
										line-height: 1.3;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.p-mainvisual {
		margin-bottom: 67px;

		&__img {
			.p-slider {
				&__area {
					&--mainvisual {
						.slide-bg {
							img {
								min-height: 400px;
								object-fit: cover;
							}
						}
					}
				}
			}

			.slick-prev {
				left: 0%;
			}

			.slick-next {
				right: 0%;
			}
		}

		&__dots {
			bottom: -14px;
		}
	}
}

@media screen and (max-width: 400px) {
	.p-mainvisual {
		margin-bottom: 63px;
	}
}

.title {
	font-size: 38px;
	font-weight: 700;
	line-height: 1.3;
	text-align: center;
	margin: 0;
}

.banner {
	margin-bottom: 60px;
	
	&__inner {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;

		.banner-img {
			width: calc(100% / 3 - 10px);
			padding-right: 15px;
			padding-bottom: 15px;

			img {
				max-height: 300px;
			}

			&:nth-of-type(3n + 3) {
				padding-right: 0;
			}
		}
	}

	&--02 {
		margin: 0 -80px 40px;

		.banner {
			&__inner {
				display: flex;
				flex-flow: row wrap;
				justify-content: center;
				flex-wrap: nowrap;

				.banner-img {
					width: 50%;
					padding: 0;

					img {
						width: 100%;
						min-height: 100%;
						object-fit: cover;
					}
				}

				.banner-txt {
					width: 50%;
					background-color: #E8F7F6;

					&__inner {
						display: flex;
						flex-direction: column;
						padding: 60px 30px;
						width: 80%;
						margin: 0 auto;
						
						span {
							color: #80891b;
						}

						h2 {
							font-size: 46px;
							padding-bottom: 15px;
							color: #0a472e;
						}

						p {
							font-size: 18px;
							color: #0a472e;
						}

						.info-list {
							display: flex;
							flex-wrap: wrap;
							align-items: flex-start;
							
							li {
								width: calc(100% / 2 - 50px);
								padding: 30px 10px 30px 35px;
								color: #0a472e;
								position: relative;

								&:nth-of-type(2n + 2) {
									padding: 30px 10px 0 35px;
								}

								&:before {
									content: '';
									position: absolute;
									background-color: none;
								}

								&.list1 {
									&:before {
										background: url('../img/banner/icon1.png');
										background-size: 100% 100%;
										background-repeat: no-repeat;
										width: 26px;
										height: 26px;
										left: 0;
									}
								}

								&.list2 {
									&:before {
										background: url('../img/banner/icon5.png');
										background-size: 100% 100%;
										background-repeat: no-repeat;
										width: 26px;
										height: 26px;
										left: 0;
									}
								}

								&.list3 {
									&:before {
										background: url('../img/banner/icon2.png');
										background-size: 100% 100%;
										background-repeat: no-repeat;
										width: 26px;
										height: 26px;
										left: 0;
									}
								}

								&.list4 {
									&:before {
										background: url('../img/banner/icon4.png');
										background-size: 100% 100%;
										background-repeat: no-repeat;
										width: 26px;
										height: 26px;
										left: 0;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	.banner {
		margin-bottom: 40px;

		&__inner {
			.banner-img {
				img {
					max-height: 260px;
				}
			}
		}

		&--02 {
			margin: 0 -60px 40px;

			.banner {
				&__inner {
					h2 {
						font-size: 40px;
					}
				}
			}
		}
	}
}


@media screen and (max-width: 800px) {
	.banner {
		margin-bottom: 40px;

		&__inner {
			.banner-img {
				img {
					max-height: 180px;
				}
			}
		}

		&--02 {
			margin: 0 -40px 30px;

			.banner {
				&__inner {
					flex-direction: column;

					h2 {
						font-size: 36px;
						padding-bottom: 10px;
					}

					p {
						font-size: 16px;
					}

					.banner-img {
						width: 100%;
					}

					.banner-txt {
						width: 100%;

						&__inner {
							.info-list {
								li {
									width: calc(50% - 40px);
									padding: 25px 5px 25px 30px;

									&:nth-of-type(2n + 2) {
										padding: 25px 5px 0 30px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 400px) {
	.banner {
		&__inner {
			.banner-img {
				width: calc(100% / 2 - 10px);

				&:nth-of-type(2n + 2) {
					padding-right: 0;
				}

				&:nth-of-type(3n + 3) {
					padding-right: 15px;
				}

				img {
					max-height: 140px;
				}
			}
		}

		&--02 {
			margin: 0 -20px 30px;
		}
	}
}

.is-delighter {
	transform: translateY(50px);
	transition: none;
	opacity: 0;
}

.is-delighter.delighter {
	transition: transform .8s ease-in, opacity .8s ease-in;
	transform: translateY(-50px);
	opacity: 0;
	z-index: 1;
}

.is-delighter.delighter.started {
	transform: none;
	opacity: 1;
}

.is-delighter.delighter.ended {
	z-index: 0;
}

.slide-right {
	width: 100%;
	animation: 4s slide-right;
}

@keyframes slide-right {
	from {
		margin-left: -100%;
	}

	to {
		margin-left: 0%;
	}
}

.review-bloc {
	display: flex;
	align-items: center;
	background-image: url('../img/banner/banner_bg3.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 650px;

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.rating-box {
			background-image: url('../img/banner/banner_bg4.png');
			background-size: 100% 100%;
			background-repeat: no-repeat;
			background-color: #0a472e;
			max-width: 300px;
			width: 35%;
	
			&__inner {
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 60px 0;
			}
	
			ul {
				display: flex;
				flex-direction: column;
				align-items: center;
	
				.rate {
					font-size: 80px;
					line-height: 1.3;
					color: #80891b;
				}
	
				.star {
					width: 64px;
					height: 40px;
				}
	
				.review {
					color: #fff;
				}
			}
	
			.review-link {
				color: #80891b;
				text-decoration: underline;
	
				&:hover {
					opacity: .8;
				}
			}
		}

		.review-box {
			width: 65%;

			&__inner {
				ul {
					display: flex;
					flex-direction: row;
					align-items: center;
					margin-bottom: 30px;

					li {
						font-size: 24px;
						color: #fff;

						&.profile {
							width: 60px;
							padding-right: 15px;
						}
					}
				}

				p {
					max-width: 500px;
					color: #fff;
					font-size: 20px;
				}
			}
		}
	}
}
