@charset "utf8";

.p-mainvisual {
	position: relative;
	z-index: 1;
	margin-bottom: 105px;

	&__img {
		max-width: 100%;
		margin: 0 auto;

		.p-slider {
			&__area {
				&--mainvisual {
					margin: 0;
					
					.slide-bg {
						display: block;
						width: 100%;
						height: 100%;
			
						img {
							width: 100%;
							height: auto;
							vertical-align: middle;
			
							&.sp {
								display: none;
							}
						}
					}
				}
			}
		}

		.slick-prev {
			left: 10%;
		}

		.slick-next {
			right: 10%;
		}
	}

	&__dots {
		position: absolute;
		bottom: -24px;
		left: 0;
		right: 0;
		z-index: 3;
	}
}

@media screen and (max-width: 800px) {
	.p-mainvisual {
		&__img {
			.p-slider {
				&__area {
					&--mainvisaul {
						.slide-bg {
							img.pc {
								display: none;
							}
				
							img.sp {
								display: block;
							}
						}
						
						button.slick-arrow {
							display: none;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.p-mainvisual {
		margin-bottom: 67px;

		&__dots {
			bottom: -14px;
		}
	}
}

@media screen and (max-width: 400px) {
	.p-mainvisual {
		margin-bottom: 63px;
	}
}

.title {
	font-size: 38px;
	font-weight: 700;
	line-height: 1.3;
	text-align: center;
	margin: 0;
}
