@charset "utf-8";

/* header */
$white: #fff;
$black :#333;
$green: #0a472e;
$greenLight: #80891b;

.header {
	position: relative;
	background-color: #0a472e;
	z-index: 999;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 30px;

		.logo {
			.logo-link {
				display: block;
				background: url('../img/header/logo.png');
				background-size: 100% 100%;
				background-repeat: no-repeat;
				width: 50px;
				height: 50px;

				&:hover {
					opacity: .8;
					transition: all .3s ease-in-out;
				}
			}
		}

		.nav-menu {
			width: 80%;
			display: flex;
			flex-direction: row;
			align-items: center;

			&__list {
				width: 60%;
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				margin-right: 15px;

				li {
					width: 16%;
					padding-right: 10px;
					text-align: center;
					height: 80px;
					display: inline-flex;
					align-items: center;
					justify-content: center;

					&:last-child {
						padding-right: 0;
					}

					&.sub {
						position: relative;

						&:after {
							content: '';
							position: absolute;
							background: url('../img/header/icon_down_w.png');
							background-size: 100% 100%;
							background-repeat: no-repeat;
							width: 20px;
							height: 20px;
							right: 10%;
							top: 40%;
						}
					}

					.nav-link {
						font-size: 18px;
						line-height: 1.3;
						color: $white;
						position: relative;

						&:hover {
							color: $greenLight;
						}
					}
					
					.menu-pulldown {
						position: absolute;
						background-color: #f9f9f9;
						box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
						min-width: 120px;
						padding: 12px 5px;
						z-index: 1;
						top: 100%;
						opacity: 0;
						visibility: hidden;

						li {
							width: 100%;
							text-align: left;
							height: 25px;

							.sub-link {
								color: $green;
							}
						
							&:hover {
								.sub-link {
									color: $greenLight;
									transition: all .3s ease;
								}
							}
						}
					}
				}

				> li {
					&:hover {
						&.sub {
							&:after {
								content: '';
								position: absolute;
								background: url('../img/header/icon_down_gl.png');
								background-size: 100% 100%;
								background-repeat: no-repeat;
							}
						}

						.menu-pulldown {
							opacity: 1;
							visibility: visible;
						}
					}
				}
				
			}

			.search {
				width: 30%;
				position: relative;
				display: flex;
				align-items: center;
				margin-right: 15px;

				&__term {
					width: 100%;
					border: none;
					padding: 5px;
					height: 20px;
					border-radius: 5px 0 0 5px;
					outline: none;
					color: #ededed;
					text-overflow: ellipsis;
				
					&:focus {
						color: #333;
					}
				}

				&__btn {
					width: 40px;
					height: 30px;
					border: 1px solid #ededed;
					background: #ededed;
					text-align: center;
					color: #fff;
					border-radius: 0 5px 5px 0;
					cursor: pointer;
					font-size: 20px;
					position: relative;

					&:after {
						content: '';
						position: absolute;
						background: url('../img/header/icon_search.png');
						background-size: 100% 100%;
						background-repeat: no-repeat;
						width: 20px;
						height: 20px;
						left: 16%;
						top: 15%;
					}
				}
			}

			.cart {
				width: 40px;
				height: 40px;
				border-radius: 100%;
				background-color: #FFEAF2;
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-right: 15px;

				&:hover {
					background-color: $greenLight;
				}

				.cart-icon {
					position: absolute;
					background: url('../img/header/icon_cart.png');
					background-size: 100% 100%;
					background-repeat: no-repeat;
					width: 20px;
					height: 20px;

					span {
					position: absolute;
					top: -16px;
					right: -10px;
					background-color: #E0B278;
					color: #fff;
					border-radius: 100%;
					width: 16px;
					height: 16px;
					text-align: center;
					display: inline-flex;
					justify-content: center;
					align-items: flex-end;
					font-size: 13px;
					line-height: 1.2;
					}
				}
			}
			
			&__icon {
				width: auto;
				position: relative;

				#nav-drp {
					display: none;
				
					&:checked {
						~ {
							ul {
								visibility: visible;
								opacity: 1;
								transform: translateX(0%) scaleY(1);
							}
						}
					}
				}
				
				.nav-drp-label {
					width: 20px;
					overflow: hidden;
					cursor: pointer;
					display: inline-flex;
					justify-content: center;
					align-items: center;
					background: #e8f8f7;
					border-radius: 100%;
					padding: 10px;

					img {
						width: 100%;
					}
				}
				
				.drp-menu {
					width: 120px;
					position: absolute;
					top: 140%;
					right: 0;
					transform: translateX(0%) scaleY(.5);
					transform-origin: top center;
					text-align: left;
					background: $white;
					padding: 10px 15px;
					visibility: hidden;
					opacity: 0;
					transition: all .3s ease;
					border-radius: 5px;
					box-shadow: rgb(0 0 0 / 24%) 0 3px 8px;

					li {
						padding-bottom: 5px;

						&:last-child {
							padding-bottom: 0;
						}
					}

					&:before {
						content: '';
						position: absolute;
						top: -10%;
						right: 5%;
						border-bottom: solid 10px $white;
						border-left: solid 10px transparent;
						border-right: solid 10px transparent;
					}

					.drp-link {
						color: $greenLight;
						display: block;
						font-size: 20px;
						transition: all .5s ease;
			
						&:hover {
							opacity: .7;
						}
					}
				}
			}
		}

		#nav {
			display: none;
		}
	}

	&--top {
		background-color: transparent;

		.header {
			&__inner {
				.logo {
					.logo-link {
						background: url('../img/header/logo_g.png');
						background-size: 100% 100%;
						background-repeat: no-repeat;
					}
				}

				.nav-menu {
					&__list {
						li {
							&.sub {
								&:after {
									content: '';
									position: absolute;
									background: url('../img/header/icon_down_g.png');
									background-size: 100% 100%;
									background-repeat: no-repeat;
								}

								&:hover {
									&:after {
										content: '';
										position: absolute;
										background: url('../img/header/icon_down_gl.png');
										background-size: 100% 100%;
										background-repeat: no-repeat;
									}
								}
							}

							.nav-link {
								color: $green;

								&:hover {
									color: $greenLight;
								}
							}
						}
					}
				}
			}
		}
	}

	&.scr {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background-color: $green;
		animation: nav-slide .35s ease-in-out;

		.header {
			&__inner {
				.logo {
					.logo-link {
						background: url('../img/header/logo.png');
						background-size: 100% 100%;
						background-repeat: no-repeat;
						width: 50px;
						height: 50px;
					}
				}

					.nav-menu {
						&__list {
							li.sub {
								&:after {
									content: '';
									position: absolute;
									background: url('../img/header/icon_down_w.png');
									background-size: 100% 100%;
									background-repeat: no-repeat;
								}
						
								&:hover {
									&:after {
										content: '';
										position: absolute;
										background: url('../img/header/icon_down_gl.png');
										background-size: 100% 100%;
										background-repeat: no-repeat;
									}
								}
							}

							.nav-link {
								color: $white;
							}
						}
					}
				}
		}
	}
}

@keyframes nav-slide {
	from {
		transform: translateY(-100%);
	}

	to {
		transform: translateY(0);
	}
}

@media screen and (max-width: 1024px) {
	.header {
		&__inner {
			.logo {
				.logo-link {
					width: 40px;
					height: 40px;
				}
			}

			.nav-menu {
				&__list {
					li {
						width: 20%;
					}
				}
			}
		}

		&.scr {
			.header {
				&__inner {
					.logo {
						.logo-link {
							width: 40px;
							height: 40px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 800px) {
	.header {
		&__inner {
			padding: 20px 30px;

			.nav-menu {
				display: none;
			}

			#nav {
				display: block;
				position: relative;
				top: 3%;
				right: 3%;
				z-index: 2;
				user-select: none;

				.nav-link {
					text-decoration: none;
					color: $white;
					transition: color .3s ease;

					&:hover {
						color: $green;
					}
				}

				input {
					display: block;
					width: 40px;
					height: 32px;
					position: absolute;
					top: -7px;
					right: -5px;
					cursor: pointer;
					opacity: 0;
					z-index: 2;

					&:checked {
						~ {
							span {
								opacity: 1;
								transform: rotate(45deg) translate(-2px, -1px);
								background: $white;

								&:nth-last-child(3) {
									opacity: 0;
									transform: rotate(0deg) scale(.2, .2);
								}

								&:nth-last-child(2) {
									transform: rotate(-45deg) translate(0, -1px);
								}
							}

							ul {
								transform: none;
							}

							#menu {
								right:0;
							}
						}
					}
				}

				span {
					display: block;
					width: 33px;
					height: 4px;
					margin-bottom: 5px;
					position: relative;
					background: $white;
					border-radius: 3px;
					z-index: 1;
					transform-origin: 4px 0;
					transition: transform .5s cubic-bezier(.77, .2, .05, 1.0), background .5s cubic-bezier(.77, .2, .05, 1.0), opacity .55s ease;

					&:first-child {
						transform-origin: 0% 0%;
					}

					&:nth-last-child(2) {
						transform-origin: 0% 100%;
					}
				}
			}

			#menu {
				position: fixed;
				width: 300px;
				height: 100vh;
				top: 0;
				right: -300px;
				padding: 85px 50px;
				background: $greenLight;
				-webkit-font-smoothing: antialiased;
				transform-origin: 0% 0%;
				transform: translate(100%, 0);
				transition: transform .5s cubic-bezier(.77, .2, .05, 1.0);

				li {
					.nav-link {
						display: block;
						font-size: 22px;
						text-align: center;
						padding: 10px 0;
					}

					.spmenu-pulldown {
						li {
							text-align: center;

							.sub-link {
								color: $white;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 375px) {
	.header {
		&__inner {
			#menu {
				width: 100%;
				padding: 85px 10px;
				margin: 0 -10px;
			}
		}
	}
}
